*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
}

.parent {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    }
    a{
        text-decoration: none;
        color: #000;
    }
    h2{
        font-size: 45px;  
        font-family: 'Outfit', sans-serif;
    }
    .principal { 
        grid-area: 1 / 1 / 7 / 2; 
        background-color: #FFD93B;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .principal h1{
        font-size: 100px;
        font-family: 'Outfit', sans-serif;
    }
    .passions { 
        grid-area: 1 / 2 / 2 / 3;
        background-color: #6422B8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;   
    }
    .passions h2{
        color: #FFD93B;
    }

    .objectifs { 
        grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .objectifs h2{
        color: #6422B8;
    }

    .famille { 
        grid-area: 3 / 2 / 4 / 3;
        background-color: #FF73CB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .famille h2{
        color: #fff;
    }

    .option { 
        grid-area: 4 / 2 / 5 / 3;
        background-color: #6422B8;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .option h2{
        color: #FFD93B;
    }

    .parcours { 
        grid-area: 5 / 2 / 6 / 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .parcours h2{
        color: #6422B8;
    }

    .autres { 
        grid-area: 6 / 2 / 7 / 3;
        background-color: #FF73CB;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .autres h2{
        color: #fff;
    }
    table tr td {
        padding: 40px 33px 0;
    }
    table tr td .reseaux{
        width: 60px;
        gap: 12px;
    }
    .popup-link h2{
        text-shadow: 0;
        transition: text-shadow 0.9ms ease-in-out;
    }
    .popup-link h2:hover {
        text-shadow: 1px 2px 7px black;
    }
@media screen and (max-width: 1000px) {
    body{
        height: 100%;
    }
    .parent{
        display: block;
    }
    .passions, .objectifs, .famille, .option, .parcours, .autres{
        height: 10vh;
    }
    #maPopup .close{
        top: 55px!important;
        right: 50px!important;
        scale: 10!important;
    }
}

/********************************************/
/*poPup*/

#maPopup .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
    z-index: 1;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
  }

  #maPopup .modal-content {
    background-color: #eaf0f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
    position: relative;
    width: 90%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 65px;
  }

#maPopup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    scale: 5;
    color: red;
}

#maPopup h1{
    font-size: 100px;
    text-shadow: 3px 4px 0px black;;
}
#maPopup p{
    font-size: 35px;
}

/* pour le popup freres et soeurs */
#popup3  h1{
    font-size: 65px;
}
#popup3 > .modal-content{
    gap: 25px!important;
}
/* pour mon opition */
#popup4  h1{
    font-size: 65px;
}
